html, body {
  margin: 0;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  overflow: hidden;
}

/*////////////////////////////////////////////////*/
/* Styling the header */
header {
  height: 18.5vh;
}

h1 {
  background-color: tomato;
  color: white;
  font-size: 4em;
  margin: 0;
  padding: 0.6em;
  /*min-height: 10vh;*/
  max-height: 18vh;
}

/* Done styling the header */
/*////////////////////////////////////////////////*/
/*////////////////////////////////////////////////*/
/*////////////////////////////////////////////////*/
/* Styling the controls section */

#controls {
  background-color: papayawhip;
  position: fixed;
  top: 0;
  left: 0;
  padding: 9em 0;
  height: 100%;
  /*min-width: 20vw;*/
  max-width: 20vw;
  z-index: -99;
}

.selectorArea {
  border: 0px solid purple;
  display: inline-block;
  text-align: center;
  padding: 1em 0;
  /*max-height: inherit;*/
  max-width: 18vw;
}

label {
  border: 0px solid blue;
  display: inline-block;
}

input {
  cursor: pointer;
  max-width: 18vw;
}

/* Styling the colour chooser */
input[type=color] {
  background: none;
  border: none;
  /*border-radius: 50%;*/
  height: 4rem;
  width: 4rem;
  padding: 0 0 0 0.2rem;
  transform: translateY(0.3rem)
}

input[type=color]:focus {
  outline: none;
}

/* Styling the brush width chooser */
input[type=range] {
  /*msaamsl;*/
}

/* Styling the effect list */
ul li {
  list-style: none;
  margin-left: -3em;
}

/* Done styling the controls */
/*////////////////////////////////////////////////*/
/*////////////////////////////////////////////////*/
/*////////////////////////////////////////////////*/
/* Styling the canvas */
/* Need to define the canvas size & position within script.js to enable drawing within the desired area */

canvas {
  position: fixed;
}

/* Done styling the canvas */
/*////////////////////////////////////////////////*/
